.chatItem {
    -fx-background-color: lightslategray;
}

.chatItem:selected {
    -fx-background-color: gold;
}

.messageItem {
    -fx-background-color: red;
}

.chatMessageName {
    -fx-background-color: yellow;
}

.chatMessageText {
    -fx-background-color: orange;
}